<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_of_Life.Properties.Settings>
            <setting name="ColorPanelBG" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="ColorGridLine" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorCellAlive" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="ColorCellDead" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridLineThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GridSegmentThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GridSegmentLines" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableGridLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSegmentLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorGridSegment" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RandSeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandAlive" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="RandDead" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="ViewNeighborCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewHeadsUpDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Color1Neighbor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Color2Neighbor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="Color3Neighbor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="Color4Neighbor" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="Color5Neighbor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Color6Neighbor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Color7Neighbor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Color8Neighbor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FontNeighbors" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ColorBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
        </Game_of_Life.Properties.Settings>
    </userSettings>
</configuration>